<suite name="TestSuite">
    <test name="Test1">
        <classes>
            <class name="GetListPharmacy" />
            <class name="FindMedicament" />
            <class name="GetPrice" />
            <class name="MakeOrder" />
            <class name="OrderInfo" />
            <class name="OrderCancel" />
        </classes>
    </test>
</suite>